
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de vente</title>
</head>
<body>
    <!-- Remplacer le fragment content par le contenu spécifique de cette page -->
    <main id="main" class="main" layout:fragment="content">

      <div class="pagetitle">
        <h1>Section Vente</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/accueil}">Accueil</a></li>
            <li class="breadcrumb-item">Vente</li>
          </ol>
        </nav>
      </div>
  
      <section class="section">
        <div class="row">
  
          <div class="col-xxl-4 col-md-6">
              <div class="card shadow-sm">
                <div class="card-header text-center bg-light text-white">
                  <h5 class="card-title mb-0">Nom de la Cryptomonnaie</h5>
                </div>
                <div class="card-body text-center">
                  <div class="mb-3">
                  </div>
                  <div class="mb-3">
                    <h6>Prix : <span class="text-success">$50</span></h6>
                  </div>
                  <div class="mb-3 text-muted">
                      <small>Vendeur : <strong>Jean Pascal</strong></small>
                  </div>
                  <a th:href="@{/detailVente}" class="btn btn-outline-primary rounded-pill">Consulter</a>
                </div>
              </div>
            </div>
  
            <div class="col-xxl-4 col-md-6">
              <div class="card shadow-sm">
                <div class="card-header text-center bg-light text-white">
                  <h5 class="card-title mb-0">Nom de la Cryptomonnaie</h5>
                </div>
                <div class="card-body text-center">
                  <div class="mb-3">
                  </div>
                  <div class="mb-3">
                    <h6>Prix : <span class="text-success">$50</span></h6>
                  </div>
                  <div class="mb-3 text-muted">
                      <small>Vendeur : <strong>Jean Pascal</strong></small>
                  </div>
                  <a th:href="@{/coursDetail}" class="btn btn-outline-primary rounded-pill">Consulter</a>
                </div>
              </div>
            </div>
  
            <div class="col-xxl-4 col-md-6">
              <div class="card shadow-sm">
                <div class="card-header text-center bg-light text-white">
                  <h5 class="card-title mb-0">Nom de la Cryptomonnaie</h5>
                </div>
                <div class="card-body text-center">
                  <div class="mb-3">
                  </div>
                  <div class="mb-3">
                    <h6>Prix : <span class="text-success">$50</span></h6>
                  </div>
                  <div class="mb-3 text-muted">
                      <small>Vendeur : <strong>Jean Pascal</strong></small>
                  </div>
                  <a th:href="@{/coursDetail}" class="btn btn-outline-primary rounded-pill">Consulter</a>
                </div>
              </div>
            </div>
  
            <div class="col-xxl-4 col-md-6">
              <div class="card shadow-sm">
                <div class="card-header text-center bg-light text-white">
                  <h5 class="card-title mb-0">Nom de la Cryptomonnaie</h5>
                </div>
                <div class="card-body text-center">
                  <div class="mb-3">
                  </div>
                  <div class="mb-3">
                    <h6>Prix : <span class="text-success">$50</span></h6>
                  </div>
                  <div class="mb-3 text-muted">
                      <small>Vendeur : <strong>Jean Pascal</strong></small>
                  </div>
                  <a th:href="@{/coursDetail}" class="btn btn-outline-primary rounded-pill">Consulter</a>
                </div>
              </div>
            </div>
  
            <div class="col-xxl-4 col-md-6">
              <div class="card shadow-sm">
                <div class="card-header text-center bg-light text-white">
                  <h5 class="card-title mb-0">Nom de la Cryptomonnaie</h5>
                </div>
                <div class="card-body text-center">
                  <div class="mb-3">
                  </div>
                  <div class="mb-3">
                    <h6>Prix : <span class="text-success">$50</span></h6>
                  </div>
                  <div class="mb-3 text-muted">
                      <small>Vendeur : <strong>Jean Pascal</strong></small>
                  </div>
                  <a th:href="@{/coursDetail}" class="btn btn-outline-primary rounded-pill">Consulter</a>
                </div>
              </div>
            </div>
  
            <div class="col-xxl-4 col-md-6">
              <div class="card shadow-sm">
                <div class="card-header text-center bg-light text-white">
                  <h5 class="card-title mb-0">Nom de la Cryptomonnaie</h5>
                </div>
                <div class="card-body text-center">
                  <div class="mb-3">
                  </div>
                  <div class="mb-3">
                    <h6>Prix : <span class="text-success">$50</span></h6>
                  </div>
                  <div class="mb-3 text-muted">
                      <small>Vendeur : <strong>Jean Pascal</strong></small>
                  </div>
                  <a th:href="@{/coursDetail}" class="btn btn-outline-primary rounded-pill">Consulter</a>
                </div>
              </div>
            </div>
            
  
        </div>
      </section>
  
  
    </main>
</body>
</html>
