
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center" th:fragment="header">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="#" alt="">
        <span class="d-none d-lg-block">CryptoAPP</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">

    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link" th:href="@{/portefeuille}">
          <i class="bi bi-grid"></i>
          <span>Portefeuille</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-journal-text"></i>
          <span>Fond</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " th:href="@{/cours}">
          <i class="bi bi-bar-chart"></i>
          <span>Cours</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " th:href="@{/vente}">
          <i class="bi bi-gem"></i>
          <span>Vente</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " th:href="@{/form/analyse}">
          <i class="bi bi-search"></i>
          <span>Analyse</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/deconnection}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Déconnexion</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->